.section-gallery { width:100%; display:block; clear:both; float:left; margin-bottom:30px; }
.section-gallery a.fancybox:after{ content:" "; }
.section-gallery a.fancybox img { width:30%; height:auto; display:inline-block; margin-right:10px; vertical-align:top; margin-bottom:10px; }